<section class="section">
  <p class="title is-1 has-text-centered"><%= t('edit_profile') %></p>
</section>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <%= f.text_field :name, autofocus: true, class:"input", placeholder:"Name" %>
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder:"Email" %>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>
</div>


<div class="field">
  <label class="label">Password <i>(leave blank if you don't want to change)</i></label>
  <p class="control has-icons-left">
    <%= f.password_field :password, autocomplete: "new-password", class:"input", type:"password", placeholder:"Password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>

<div class="field">
  <label class="label">Password Confirmation</label>
  <p class="control has-icons-left">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input", type:"password", placeholder:"Password" %>
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>

<div class="field">
  <label class="label">Current Password</label>
  <p class="control has-icons-left">
    <%= f.password_field :current_password, autocomplete: "current-password", class:"input", type:"password", placeholder:"Password" %>
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>

<div class="container ">
    <div class="actions has-text-centered">
      <div class="columns">
        <div class="column">
          <%= f.submit "Update", class:"button is-primary is-fullwidth" %>
        </div>
        <div class="column">
          <%= button_to "Cancel account", registration_path(resource_name), class:"button is-danger is-fullwidth", data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
    </div>
  </div>
</div>
<% end %>

