<p id="notice"><%= notice %></p>

<div class="columns is-multiline">
  <% @recipes.each do |recipe| %>
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= link_to image_tag(recipe.thumbnail), recipe %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= recipe.title %> </p>
              <p class="subtitle is-6">By <a><%= recipe.author %> </a>
                <datetime class="has-text-grey" id="date"><%= recipe.created_at.to_date %></datetime>
              </p>
            </div>
          </div>
          <div class="content">
            <%= recipe.description %>
          </div>
        </div>
        <footer class="card-footer">
          <%= link_to "View", recipe, class: "card-footer-item" %>
          <%= puts 'TESSSSSSSTTTTTTESSSSSSSTTTTTTESSSSSSSTTTTTTESSSSSSSTTTTTTESSSSSSSTTTTTTESSSSSSSTTTTTTESSSSSSSTTTTTTESSSSSSSTTTTT' %>
          <% if user_signed_in? %>
            <% if current_user.id == recipe.user_id %>
              <%= link_to "Delete", recipe, method: :delete, data: { confirm: 'Are you sure?' } , class: "card-footer-item" %>
              <%= link_to "Edit", edit_recipe_path(recipe), class: "card-footer-item" %>
            <% end %>
          <% end %>
        </footer>

      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
