<nav class="navbar is-primary has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
    <h1 class="is-size-4 has-text-weight-semibold is-uppercase"> <%= t('app_title') %> &nbsp </h1>
    <img src="https://i.ibb.co/2Zs3P4V/salad.png">
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start ">
      <%= link_to recipes_path, class: 'navbar-item' do %>
      <h1 class="has-text-weight-medium"> Recipes </h1>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
  <div class="navbar-end">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start ">
        <%= link_to collection_index_path, class: 'navbar-item' do %>
        <h1 class="has-text-weight-medium"> Saved </h1>
        <% end %>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Account
      </a>

      <div class="navbar-dropdown">
        <%= link_to edit_user_registration_path, class:"navbar-item" do %>
        <%= t('edit_profile') %>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class:"navbar-item" do %>
        <%= t('log_out') %>
        <% end %>
      </div>
    </div>

    <% else %>
    <div class="navbar-item">
      <div class="buttons">
        <%= link_to new_user_registration_path, class: "button is-light" do %>
        <% t('sign_up') %>
        <% end %>
        <%= link_to new_user_session_path, class: "button is-light" do %>
        <% t('log_in') %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</nav>