<section class="section">
  <p class="title is-1 has-text-centered"><%= t('.title') %></p>
  <p class="subtitle is-3 has-text-centered"><%= t('.contact_us') %></p>
</section>

<%= form_tag request_contact_path, method: 'post' do %>

<div class="field">
  <%= label_tag :name, t('.name'), class:"label" %>
  <%= text_field_tag :name, '', title: t('.enter_name'), class:"input", placeholder: t('.name') %>
</div>
<div class="field">
<%= label_tag :email, t('.email'), class:"label" %>
<%= email_field_tag :email, '', title: t('.enter_email'), class:"input", placeholder: t('.email')  %>
</div>
<div class="field">
<%= label_tag :telephone, t('.telephone'), class:"label" %>
<%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), class:"input", placeholder: t('.telephone') %>
</div>
<div class="field">
<%= label_tag :message, t('.message'), class:"label" %>
<%= text_field_tag :message, '', title: t('.enter_message'), class:"textarea", placeholder: t('.message') %>
</div>
<div class="container">
  <%= submit_tag t('.submit'), class:"button is-primary is-fullwidth" %>
</div>
<% end %>
